@import "~antd/dist/antd.css";

.home {
  text-align: center;
}

.home-page-header {
  background-color: #ff00ff;
}

.home-page-sider {
  background-color: #ff0000;
  width: 200px;
  height: 280px;
}

.contextmenu-trigger {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 16px;
  border-radius: 2px;
  margin: 8px;
  margin-top: 50px;
}
